@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte00: Verdana, Geneva, Tahoma, sans-serif;
    --fonte01: 'Passion One', cursive;
    --fonte02: 'Sriracha', cursive;
}

* {
    margin: 0px;
    padding: 0px;
  } 

html, body {
   min-height: 100%;
   background-color: rgb(197, 197, 197);
   min-height: 100vh;
    font-family: var(--fonte01);
}


header {
   display: block;
   background-color: black;
   color: white;
   text-align: center;
 }

 header>h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte01);
    font-size: 10vw;
  
 } 

 header>p {
    padding-bottom: 50px;
    font-family: var(--fonte00);
 }

header a, footer a {
    text-decoration: dashed;
    color: white;
    font-weight: bold;
 }

 header a:hover, footer a:hover {
    text-decoration: underline;
   
 }

section{
   padding-top: 10vh;
   padding-bottom: 10vh;
   line-height: 2em;
   padding-left: 30px;
   font-size: 3.5vw;
}

 section.normal {
    font-family: var(--fonte02);
    background-color: white;
    padding: 30px;

 }

 section > p {
   padding-bottom: 2em;
 }

 section.imagem {
   background-color: rgb(48, 48, 48);
   color: white;
   font-family: var(--fonte02);
   padding: 30px;
   box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.473);
   background-size: cover;
   background-attachment: fixed;
 }

section.imagem > p {
   display: inline-block;
   padding: 5px;
   background-color: rgba(0, 0, 0, 0.589);
   text-shadow: 1px 1px 0px black;
}

section#img01{
background-image: url('../imagens/background001.jpg');
background-position: right top;
}

section#img02{
background-image: url('../imagens/background002.jpg');
}

 footer {
   background-color: rgb(0, 0, 0);
   text-align: center;
   font-family: var(--fonte00);
   color: white;
   padding: 10px;
 }